[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/thehnm/dwm
[submodule ".local/src/st"]
	path = .local/src/st
	url = https://github.com/thehnm/st
[submodule ".local/src/slock"]
	path = .local/src/slock
	url = https://github.com/thehnm/slock
