st.color0: #282828
st.color1: #ea6962
st.color2: #a9b665
st.color3: #d8a657
st.color4: #7daea3
st.color5: #d3869b
st.color6: #89b482
st.color7: #d4be98
st.color8: #928374
st.color9: #ef938e
st.color10: #bbc585
st.color11: #e1bb7e
st.color12: #9dc2ba
st.color13: #e1acbb
st.color14: #a7c7a2
st.color15: #e2d3ba
st.background: #282828
st.foreground: #e2d3ba
st.cursorColor: #e2d3ba

*.col_norm: #e2d3ba
*.col_sel: #9dc2ba
*.col_bg: #282828

slock.col_init: #282828
slock.col_input: #7daea3
slock.col_failed: #ea6962
slock.col_fg: #e2d3ba
