#include ".xrdb/rofi/maia"

! ===== Rofi settings =====
rofi.sidebar-mode: true
rofi.modi: run,drun,window
rofi.fullscreen: true
rofi.padding: 300
rofi.fake-transparency: true
rofi.font: "DejaVu Sans Mono for Powerline" 18
