#include ".xrdb/colors"

! ===== Hybrid color scheme =====
! special
*.foreground:   fg
*.background:   bg
*.cursorColor:  cursor

! black
*.color0:       color0
*.color8:       color8

! red
*.color1:       color1
*.color9:       color9

! green
*.color2:       color2
*.color10:      color10

! yellow
*.color3:       color3
*.color11:      color11

! blue
*.color4:       color4
*.color12:      color12

! magenta
*.color5:       color5
*.color13:      color13

! cyan
*.color6:       color6
*.color14:      color14

! white
*.color7:       color7
*.color15:      color15

! ===== rofi =====
rofi.sidebar-mode: true
rofi.modi: run,drun,window
rofi.fullscreen: true
rofi.hide-scrollbar: true
rofi.padding: 400
rofi.font: "DejaVuSansMono Nerd Font Book" 24
rofi.color-enabled: true
rofi.color-window: color0, color0, color0
rofi.color-normal: color0, #d8dee8, color0, color0, color12
rofi.color-active: color0, #b48ead, color0, color0, color12
rofi.color-urgent: color0, #ebcb8b, color0, color0, color3
