! ===== rofi =====
rofi.sidebar-mode: true
rofi.modi: run,drun,window
rofi.fullscreen: true
rofi.hide-scrollbar: true
rofi.padding: 400
rofi.font: Cantarell Bold 24
rofi.color-enabled: true
rofi.color-window: #1d1f21, #1d1f21, #1d1f21
rofi.color-normal: #1d1f21, #c5c8c6, #1d1f21, #1d1f21, #5f819d
rofi.color-active: #1d1f21, #85678f, #1d1f21, #1d1f21, #5f819d
rofi.color-urgent: #1d1f21, #de935f, #1d1f21, #1d1f21, #de935f

! special
*.foreground:   #a2a2a2
*.background:   #292929
*.cursorColor:  #a2a2a2

! black
*.color0:       #4e4e4e
*.color8:       #777777

! red
*.color1:       #a9635d
*.color9:       #ffbbb2

! green
*.color2:       #468459
*.color10:      #9ddeaf

! yellow
*.color3:       #84763d
*.color11:      #e0ce91

! blue
*.color4:       #5879af
*.color12:      #b3d1ff

! magenta
*.color5:       #9c6594
*.color13:      #fabdf0

! cyan
*.color6:       #008592
*.color14:      #79e0ed

! white
*.color7:       #cfcfcf
*.color15:      #ffffff

*.scrollBar: false

*.font: xft:RobotoMono Nerd Font:size=10

*.internalBorder: 50
